<p>You rolled: <%= @roll.inspect %> (roll <%= @rolls_count %>/3)</p>
<p>Select what to hold:</p>
<p><%= @dice_to_hold %></p>
<p>--------</p>
<p>Available categories:</p>
<p><%= @category_names.join("\n") %></p>
